/* Container for the app as a whole */
.main {
  font-size: 24px;
}

.back-button {

}

.screen-title {

}

/* Main Menu */
.mainmenu {

}

.menu-item {

}

/* Control Panel */
.cpanel {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* Control Panel flexbox items */
.cpanel-main {
    width: 100%;
}

.cpanel-readouts {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.cpanel-readout {
    font-size: 24px;
    flex-direction: column;
    margin: 1em;
}

.cpanel-workout {
    width: 100%;
}

.cpanel-lap {
    width: 100%;
}

.cpanel-speed-buttons {
    width: 100%;
}

.cpanel-start-stop-buttons {
    width: 100%;
}

.cpanel-preset-buttons {
    width: 100%;
    margin: 1em;
}

/* Control Panel Buttons */
.cpanel-button {
    border: blue;
    border-style: groove;
    font-size: 24px;
    margin: 10px;
    width: 100px;
    height: 80px;
}

.cpanel-preset-button {
    border: green;
    border-style: groove;
    font-size: 24px;
    margin: 2px;
    width: 100px;
    height: 80px;
}

.cpanel-start-button {
    background-color: green;
    color: white;
    margin-top: 1em;
    margin-right: 20px;
    width: 150px;
    height: 100px;
    font-size: 24px;
}

.cpanel-stop-button {
    background-color: red;
    color: white;
    margin-top: 1em;
    margin-left: 20px;
    width: 150px;
    height: 100px;
    font-size: 24px;
}

/* Plots */
.rr-plot {
  width: 400px;
}

.hr-plot {
  width: 400px;
}

/* Media Queries */

/*@media screen and (min-width: 500px) {
    .cpanel-main {
      width: 80%;
    }

    .cpanel-preset-buttons {
      width: 20%;
    }
}*/
